# 연습문제 9

In [1]:
import pandas as pd

data = {'이름': ['철수', '영희', '민수', '지영'], '나이': [25, 30, 22, 28], '성별': ['남자', '여자', '남자', '여자']}
df = pd.DataFrame(data)
print(df)

   이름  나이  성별
0  철수  25  남자
1  영희  30  여자
2  민수  22  남자
3  지영  28  여자

# 연습문제 10

In [19]:
import pandas as pd

data = {'col1': ['a', 'b', 'c'], 'col2': [1, 2, 3]}
df = pd.DataFrame(data)

df.loc[:2, 'col1':'col2']

  col1  col2
0    a     1
1    b     2
2    c     3

# 연습문제 12

In [31]:
import pandas as pd

df1 = pd.DataFrame({'col1': ['a', 'b', 'c'], 'col2': [1, 2, 3]})
df2 = pd.DataFrame({'col3': ['a', 'b', 'f'], 'col4': [10, 20, 30]})

df3 = pd.merge(df1, df2, left_on='col1', right_on='col3', how='outer')
print(df3)

  col1  col2 col3  col4
0    a   1.0    a  10.0
1    b   2.0    b  20.0
2    c   3.0  NaN   NaN
3  NaN   NaN    f  30.0

# 연습문제 13

In [113]:
import pandas as pd

data = {'name': ['철수', '영희', '민수', '지영'], 'score': [75, 88, 92, 68]}

df = pd.DataFrame(data)

df1 = df[df['score'] >= 80]

df1

  name  score
1   영희     88
2   민수     92

# 연습문제 14

In [114]:
import pandas as pd
data = {'name': ['철수', '영희', None, '지영'], 'score': [75, 88, None, 68]}
df = pd.DataFrame(data)
result = df.isna()
print(result)

    name  score
0  False  False
1  False  False
2   True   True
3  False  False

# 연습문제 16

In [120]:
import pandas as pd

data = {'col1': [1, 2, 3], 'col2': [4, 5, 6]}
df = pd.DataFrame(data)

result = df.apply(lambda row: row['col1'] + row['col2'], axis="columns")

print(result)

0    5
1    7
2    9
dtype: int64

# 연습문제 17

In [121]:
import pandas as pd

data1 = {'names' : ['철수', '영희', '민수'], 'score' : [75, 88, 92]}
data2 = {'names' : ['지영', '다현'], 'score' : [68, 95]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df3 = pd.concat([df1, df2], ignore_index=True)

df3

  names  score
0    철수     75
1    영희     88
2    민수     92
3    지영     68
4    다현     95

# 연습문제 18

In [122]:
import pandas as pd

data1 = {'name' : ['철수', '영희', '민수'], 'score' : [75, 88, 92]}
data2 = {'name' : ['영희', '철수', '지영', '다현'], 'attendence_rate' : [90, 80, 95, 85]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df3 = pd.merge(df1, df2, on='name', how='inner')

df3

  name  score  attendence_rate
0   철수     75               80
1   영희     88               90

# 연습문제 19-1

In [1]:
import requests
from bs4 import BeautifulSoup

# 타겟 웹페이지 URL
url = 'https://example.com'

# HTML 가져오기
response = requests.get(url)

# HTML 파싱
soup = BeautifulSoup(response.content, 'html.parser')

# 'h1' 태그 추출
target_tag = soup.find('h1')

# 'h1' 태그 내용 추출
target_content = target_tag.text if target_tag else '태그를 찾을 수 없음.'

# 결과 출력
print(target_content)

Example Domain

# 연습문제 19-2

In [8]:
from selenium import webdriver
from selenium.webdriver.common.by import By
driver = webdriver.Chrome()
driver.get("https://example.com")
elements_with_a = driver.find_elements(By.CSS_SELECTOR, "a")
print("특정 a 요소의 개수:", len(elements_with_a))
print("특정 a 요소의 속성 href 값 가져오기:",
elements_with_a[0].get_attribute("href"))
driver.quit()

특정 a 요소의 개수: 1
특정 a 요소의 속성 href 값 가져오기: https://www.iana.org/domains/example

# 연습문제 22

In [20]:
import pandas as pd
import json

# 딕셔너리 데이터 준비
data = {
    '이름': ['철수', '영희', '민수', '지영'],
    '나이': [25, 30, 22, 28],
    '성별': ['남자', '여자', '남자', '여자']
}

# 저장 경로 설정 (임의로 변경 가능)
csv_path = "data.csv"

# DataFrame 생성
df = pd.DataFrame(data)

# CSV 파일 저장
df.to_csv(csv_path, index=False, encoding="utf-8")

# 저장 경로 설정 (임의로 변경 가능)
json_path = "data.json"

# JSON 파일 저장
json_data = df.to_json(json_path)

print("데이터가 CSV 및 JSON 파일에 저장되었습니다.")

데이터가 CSV 및 JSON 파일에 저장되었습니다.

# 연습문제 23

In [53]:
import pandas as pd

# 두 개의 데이터프레임 생성
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
 'B': ['B0', 'B1', 'B2']})

df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
 'B': ['B3', 'B4', 'B5']})

# 여기에 코드를 작성하세요
result = pd.concat([df1, df2], ignore_index=True)
# 결과 출력
print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5

# 연습문제 24번

In [9]:
import pandas as pd

# 데이터 준비
left = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'A': ['A0', 'A1', 'A2']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2'], 'B': ['B0', 'B1', 'B2']})

# 내부 조인 수행
result = pd.merge(left, right, on='key', how='inner')

# 결과 출력
print(result)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

# 연습문제 25번

In [61]:
import pandas as pd

data1 = {'학생' : ['철수', '영희', '민수'], '성적' : [80, 75, 90]}
data2 = {'학생' : ['지영'], '성적' : [85]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df3 = pd.concat([df1, df2], ignore_index=True)

df4 = pd.merge(df1, df2, how='outer')

df4.sort_values(by='학생', inplace=True)

print(df4)

   학생  성적
0  민수  90
1  영희  75
2  지영  85
3  철수  80

# 연습문제 26

In [2]:
import pandas as pd

data1 = {'A': [1, 2, 3], 'B': [4, 5, 6]}
data2 = {'C': [7, 8, 9], 'D': [10, 11, 12]}
s_data = [13, 14, 15]

df1 = pd.DataFrame(data1, index=['X', 'Y', 'Z'])
df2 = pd.DataFrame(data2, index=['X', 'Y', 'Z'])
s = pd.Series(s_data, index=['X', 'Y', 'Z'])

# (1) concat() 함수를 사용하여 데이터프레임 df1과 df2를 수평으로 결합하고, 시리즈 s를 수평으로 결합
result_concat = pd.concat([df1, df2, pd.DataFrame(s, columns=['E'])], axis=1)
print("Concatenation result:")
print(result_concat)

# 데이터프레임 df1과 df2를 병합하고 시리즈 s를 추가
merged_df = pd.merge(pd.merge(df1, df2, left_index=True, right_index=True, how='outer'), pd.DataFrame(s, columns=['E']), left_index=True, right_index=True, how='outer')

print("Merged result:")
print(merged_df)

Concatenation result:
   A  B  C   D   E
X  1  4  7  10  13
Y  2  5  8  11  14
Z  3  6  9  12  15
Merged result:
   A  B  C   D   E
X  1  4  7  10  13
Y  2  5  8  11  14
Z  3  6  9  12  15

# 연습문제 27

In [112]:
import pandas as pd

data = {'이름': ['철수', '영희', '민수'], '국어': [90, 80, 85], '영어': [85, 95, 70], '수학': [75, 80, 90]}
df = pd.DataFrame(data)

# 학생별 성적 총점 계산
df['총점'] = df.apply(lambda row: row['국어'] + row['영어'] + row['수학'], axis=1)

print("총점을 포함한 결과:")
print(df, '\n\n')

# 각 행의 평균을 계산하여 '평균' 열에 추가
df.loc['평균'] = df.drop(columns=['이름', '총점']).mean()

print("평균 추가 결과:")
print(df)

총점을 포함한 결과:
   이름  국어  영어  수학   총점
0  철수  90  85  75  250
1  영희  80  95  80  255
2  민수  85  70  90  245


평균 추가 결과:
     이름    국어         영어         수학     총점
0    철수  90.0  85.000000  75.000000  250.0
1    영희  80.0  95.000000  80.000000  255.0
2    민수  85.0  70.000000  90.000000  245.0
평균  NaN  85.0  83.333333  81.666667    NaN